{{define "email_change_body"}}

<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;height: 100%;margin: 0;padding: 0;width: 100%;">
  <tbody>
    <tr>
      <td align="center" valign="top" id="bodyCell" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;height: 100%;margin: 0;padding: 0;width: 100%;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
          <tbody>
	    {{template "email_header" . }}

	    <tr>
	      <td style="border-bottom: 1px solid #ddd; padding: 30px 15%; text-align: center;">
                <p>{{.Html.Info}}</p>
              </td>
            </tr>

	    {{template "email_footer" . }}
	  </tbody>
	</table>
	<!-- // END TEMPLATE -->
      </td>
    </tr>
  </tbody>
</table>

{{end}}
