{{define "post_batched_post_full"}}

<style type="text/css">
    @media screen and (max-width: 480px){
        a[class="post_btn"] {
            float: none !important;
        }
    }
</style>

<table style="border-top: 1px solid #ddd; padding: 20px 0; width: 100%">
    <tr>
        <td style="text-align: left">
            <span style="font-size: 16px; font-weight: bold; color: #555; margin: 0 0 5px; display: inline-block;" >
                {{.Props.ChannelName}}
            </span>
            <br/>
            <div style="margin: 5px 0 0;">
                <span style="font-weight: bold; white-space: nowrap;">
                    @{{.Props.SenderName}}
                </span>
                <span style="color: #AAA; font-size: 12px; margin-left: 2px;">
                    {{.Props.Date}}
                </span>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan=2>
            <pre style="text-align:left; font-family: 'Lato', sans-serif; margin: 0px; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; line-height: 20px;">{{.Props.PostMessage}}</pre>
            <a class="post_btn" href="{{.Props.PostLink}}" style="font-size: 13px; background: #C64039; display: inline-block; border-radius: 2px; color: #fff; padding: 6px 0; width: 120px; text-decoration: none; float:left; text-align: center; margin: 15px 0 5px;">
                {{.Props.Button}}
            </a>
        </td>
    </tr>
</table>

{{end}}
